<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login GitHub</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngIf="usuario" text-center>
    <img src={{usuario.picture}}>
  </ion-item>
  <ion-item *ngIf="usuario">
    <ion-avatar item-start>
      <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png">
    </ion-avatar>
    <h2 text-wrap>Nombre: {{usuario.name}}</h2>
    <h2 text-wrap>Email: {{usuario.email}}</h2>
    <p text-wrap>Fecha Creacion: {{usuario.creationTime}}</p>
    <p text-wrap>Ultimo Ingreso: {{usuario.lastSignInTime}}</p>
    <p text-wrap>Metodo Login: {{usuario.signInMethod}}</p>
    <p text-wrap>Login FireBase: {{usuario.u}}</p>
  </ion-item>
  <br>
  <div text-center>
    <button full ion-button icon-end (click)="logout()">
      Salir
      <ion-icon name="log-out"></ion-icon>
    </button>
  </div>
  <ion-card>

    <ion-card-header>
      JSON - GitHub
    </ion-card-header>

    <ion-card-content>
      {{jsonDataGitHub}}
    </ion-card-content>

  </ion-card>
</ion-content>